<section class="section_analyze hide container">
    <p class="title_result">Обработка Ваших данных:</p>
    <div class="loader_result">
        <span class="percentage">0</span>
    </div>
    <p class="text">Анализ введенных данных..........<span class="analyze">Выполнено!</span></p>
    <p class="text">Коррекция астрологического знака..........<span class="correction">Выполнено!</span></p>
    <p class="text">Расчёт вариаций ответов..........<span class="calculation">Выполнено!</span></p>
    <p class="text">Генерация предсказания..........<span class="generation">Выполнено!</span></p>
    <p class="text">Сохранение результата..........<span class="save">Выполнено!</span></p>
    <p class="text">Поиск свободного оператора..........<span class="search">Выполнено!</span></p>
    <p class="text">Начало озвучки и записи аудио-сообщения..........<span class="write">идёт запись!</span></p>
    <p class="text load_done"></p>
    <div class="nendoveb-kubscupon">
 
        <div class="kacekagen-protsem">
            <div class="akemobvous"></div>
        </div>
    </div>
</section>