<section class="container section-gender">

        <div class="gender">
        Укажите свой пол:
        </div >
            <form class='gender_change'>
                <label class="female">
                    <input type="radio" name="gender" id="female">
                    Женщина
                </label>
                <label class="male">
                    <input type="radio" name="gender" id="male">
                    <span>Мужчина</span>
                </label>
            
            </form>
</section>