<section class="question-birthday hide container">
    <div class="birthday_range">
        <span class="birthday_range--color"></span>
    </div>
    <div class="question-text">
        Введите дату своего рождения:
    </div>
    <div class="container_birthday_day">
        <div class="container_cell_birthday">
            <span class="text_birthday_day">День</span>
            <button class="button_birthday_day">
                <svg data-time="day" class="arrow-down" width="8" height="15">
                    <use  href="./images/symbol-defs.svg#icon-arrow-down"></use>
                </svg>
            </button>
            <ul data-change="day" class="list_day"></ul>
        </div>
        
        <div class="container_cell_birthday">
            <span class="text_birthday_mounth">Месяц</span>
            <button class="button_birthday_mounth">
                <svg data-time="mounth" class="arrow-down" width="8" height="15">
                    <use href="./images/symbol-defs.svg#icon-arrow-down"></use>
                </svg>
            </button>
            <ul data-change="mounth" class="list_mounth"></ul>
        </div>
        <div class="container_cell_birthday">
            <span class="text_birthday_years">Год</span>
            <button class="button_birthday_years">
                <svg data-time="years" class="arrow-down" width="8" height="15">
                    <use href="./images/symbol-defs.svg#icon-arrow-down"></use>
                </svg>
            </button>
            <ul data-change="year" class="list_years hide"></ul>
        </div>
        <div class="container_sign"></div>
        <div class="container_button_sign hide">
            <button class="button-next" type="button">Далее</button>
        </div>
        <div class="birthday-error">Пожалуйста, выберите ответ</div>
    </div>
</section>