<section class="question-one hide container">
    <div class="day_range">
        <span class="day_range--color">

        </span>
    </div>
    <div class="question-text">
        В какое время суток Вы чувствуете себя наиболее комфортно?
    </div>
    <form class="form-day">
        <label class="morning">
            <input type="radio" name="day" id='morning'>  
            Утро
        </label>
        <label class="night">
            <input type="radio" name="day" id='night'>
            Ночь
        </label>
        <label class="evening">
            <input type="radio" name="day" id='evening'>
            Вечер
        </label>
        <label class="day">
            <input type="radio" name="day" id='day'>
            День
        </label>
    </form>
</section>