<section class="question-life hide container">
    <div class="life_range">
        <span class="life_range--color"></span>
    </div>
    <div class="question-text">
        Какой Вы видите свою жизнь через 5 лет?
    </div>
    <form class="form-life">
        <label class="life-family">
            <input type="radio" name="life" id="life-family">
            Брак, семья, дети, дом
        </label>
        <label class="life-travel">
            <input type="radio" name="life" id="life-travel">
        Путешествия по Миру
        </label>
        <label class="life-cariers">
            <input type="radio" name="life" id="life-cariers">
            Успешная карьера
        </label>
        <label class="life-all">
            <input type="radio" name="life" id="life-all">
            Всё вместе
        </label>
    </form>
</section>