<section class="question-plans hide container">
    <div class="plans_range">
        <span class="plans_range--color"></span>
    </div>
    <div class="question-text">
        Чувствуете ли Вы в последнее время, что вам никак не удается осуществить ваши планы?
    </div>
    <form class="form-plans">
        <label>
            <input type="radio" name="plans">
            Да
        </label>
        <label>
            <input type="radio" name="plans">
            Нет
        </label>
        <label>
            <input type="radio" name="plans">
            Иногда
        </label>
    </form>
</section>