<section class="question-plans hide container">
    <input type="range">
    <div>
        Чувствуете ли Вы в последнее время, что вам никак не удается осуществить ваши планы?
    </div>
    <form class="form-plans">
        <label>
            <input type="radio" name="plans">
            Да
        </label>
        <label>
            <input type="radio" name="plans">
            Нет
        </label>
        <label>
            <input type="radio" name="plans">
            Иногда
        </label>
    </form>
</section>