<section class="question-one hide container">
    <div class="day_range">
        <span class="day_range--color">

        </span>
    </div>
    <div class="question-text">
        В какое время суток Вы чувствуете себя наиболее комфортно?
    </div>
    <form class="form-day">
        <label>
            <input type="radio" name="day">
            Утро
        </label>
        <label>
            <input type="radio" name="day">
            Ночь
        </label>
        <label>
            <input type="radio" name="day">
            Вечер
        </label>
        <label>
            <input type="radio" name="day">
            День
        </label>
    </form>
</section>