<section class="question-plans hide container">
    <div class="plans_range">
        <span class="plans_range--color"></span>
    </div>
    <div class="question-text">
        Чувствуете ли Вы в последнее время, что вам никак не удается осуществить ваши планы?
    </div>
    <form class="form-plans">
        <label class="plans-yes">
            <input type="radio" name="plans" id="plans-yes">
            Да
        </label >
        <label class="plans-no">
            <input type="radio" name="plans" id="plans-no">
            Нет
        </label>
        <label class="plans-maybe">
            <input type="radio" name="plans" id="plans-maybe">
            Иногда
        </label>
    </form>
</section>