<section class="question-slip hide container">
    <div class="slip_range">
        <span class="slip_range--color"></span>
    </div>
    <div class="question-text">
        Подскажите, мучает ли Вас бессонница последнее время?
    </div>
    <form class="form-slip">
        <label class="slip-yes">
            <input type="radio" name="slip" id="slip-yes">
            Да
        </label>
        <label class="slip-no">
            <input type="radio" name="slip" id='slip-no'>
            Нет
        </label>
        <label class="slip-maybe">
            <input type="radio" name="slip" id="slip-maybe">
            Иногда
        </label>
    </form>
</section>