<section class="question-life hide container">
    <div class="life_range">
        <span class="life_range--color"></span>
    </div>
    <div class="question-text">
        Какой Вы видите свою жизнь через 5 лет?
    </div>
    <form class="form-life">
        <label>
            <input type="radio" name="life">
            Брак, семья, дети, дом
        </label>
        <label>
            <input type="radio" name="life">
        Путешествия по Миру
        </label>
        <label>
            <input type="radio" name="life">
            Успешная карьера
        </label>
        <label>
            <input type="radio" name="life">
            Всё вместе
        </label>
    </form>
</section>