<section class="question-slip hide container">
    <div class="slip_range">
        <span class="slip_range--color"></span>
    </div>
    <div class="question-text">
        Подскажите, мучает ли Вас бессонница последнее время?
    </div>
    <form class="form-slip">
        <label>
            <input type="radio" name="slip">
            Да
        </label>
        <label>
            <input type="radio" name="slip">
            Нет
        </label>
        <label>
            <input type="radio" name="slip">
            Иногда
        </label>
    </form>
</section>