.button-next {
  @include question;
  text-transform: uppercase;
  background: #315dfa;
  border: 1px solid #315dfa;
  margin-top: 13px;
  width: 186px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.container_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
