.button-next {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #315dfa;
  border: 1px solid #315dfa;
  margin-top: 13px;
  width: 186px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}

.container_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
