.gender {
  background: #343b4d;
  padding: 16px 22px 14px 21px;
  @include question;
}

.gender_change {
  background: #f3f4f8;
  padding: 25px 17px 17px 17px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: 375px) {
    padding: 25px 30px;
  }

  @media screen and (min-width: 1920px) {
    padding: 60px 60px 60px 60px;
  }
}
