.section-info {
  margin-bottom: 10px;

  @media screen and (min-width: 1920px) {
    margin-bottom: 47px;
  }
}

.info_title {
  @include title;
  text-transform: uppercase;
  margin-bottom: 9px;
  @media screen and (min-width: 1920px) {
    margin-bottom: 14px;
  }
}

.info_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  text-transform: uppercase;

  color: $text;
}
